.slides {
    width: 500px;
    height: 347px;
    overflow: hidden;
    border: 4px solid #79e0ee;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 0;
    right: 5%;
    bottom: 0;
    left: auto;
    margin: auto;
    animation:  fadeIn 7s;
}

.slide {
    position: absolute;
    height: 100%;
    animation: slide-show 30s infinite;
    opacity: 0;
}

.slide-1 { animation-delay: 0.5s; }
.slide-2 { animation-delay: 9s; }
.slide-3 { animation-delay: 15s; }
.slide-4 { animation-delay: 17s; }
.slide-5 { animation-delay: 22s; }

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slide-show {
    0%, 50% {
        opacity: 0;
    }
    10%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media (min-width: 1121px) and (max-width: 1400px) {
    .slides {
      display: none;
    }
}

@media (max-width: 1120px) {
    .slides {
      position: relative;
      width: 100%;
      margin-top: 6rem;
      transform: scale(0.8) translateY(-50%);
      z-index: -2;
      flex-direction: row;
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
  
      .slide {
        width: 100%;
        height: 100%;
  
        img {
          width: 100%; /* Set the width to 100% */
          height: 100%; /* Set the height to 100% */
          object-fit: cover; /* Add this line to maintain aspect ratio */
        }
      }
    }
  }
